/*
 * @Author: 卓文理
 * @Email: 531840344@qq.com
 * @Date: 2018-02-07 17:12:53
 */

ng-sms-editor
    display: block
    width: 100%
    min-height: 150px

    .ql-editor
        min-height: 150px
        font-size: 14px
        padding: 12px
        outline: 0
        line-height: 1.5
        color: #333333
        border: 1px solid #ccc
        mark
            color: #45a3f8
            background-color: transparent
        p
            white-space: pre-wrap
            margin: 0

    .ql-clipboard
        left: -100000px
        height: 1px
        overflow-y: hidden
        position: absolute
        top: 50%
